* {
  margin: 0%;
  padding: 0%;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
  outline:none ;
}


body {
  background: linear-gradient( #07A3B2, #D9ECC7);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-task {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
.button-add-task {
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #067d68;
  color: #ffff;
  font-size: 17px;
  padding: 0 15px;
  float: right;
  cursor: pointer;
  font-weight: 500;
}
.button-add-task:hover{
  opacity: 0.8;
}
.button-add-task:active{
  opacity:0.6;
}
.list-task {
  width: 100%;
  list-style: none;
  margin-top: 30px;
}
.task{
  background-color: #f2f2f2;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;

}
 img {
    height: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 0%;

  }
.task:hover img{
  opacity: 1;
}